.start-menu-option {
	height: 40px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding-left: 3px;
}

.start-menu-option:hover {
	background-color: var(--OSHover);
}

.start-menu-icon {
	margin-right: 5px;
	image-rendering: pixelated;
}
