/* TODO Refactor this */

.window-container {
	box-sizing: border-box;
	border: 4px solid black;
	background-color: var(--OSBackground);
	box-shadow: 1px 1px 33px rgb(0 0 0 / 75%);
	position: absolute;
	border-radius: 10px;
	transition: background-color 300ms ease-in-out;
}

.top-bar {
	border-bottom: 4px solid black;
	display: flex;
	justify-content: space-between;
	background-color: var(--OSHeader);
	border-radius: 10px 10px 0 0;
	font-size: 1.7vh;
	transition: background-color 300ms ease-in-out;
}

.exit {
	font-family: sans-serif;
	color: white;
	border-left: 4px solid black;
	width: 26px;
	text-align: center;
	font-weight: bolder;
	padding: 2px 0 0 0;
	font-size: 1.7vh;
	transition: background-color 300ms ease-in-out;
}

.exit:hover {
	cursor: pointer;
	background-color: var(--OSHover);
	border-radius: 0 10px 0 0;
	transition: background-color 300ms ease-in-out;
}

.title {
	color: white;
	padding: 2px 0 0 6px;
	width: 100%;
}

.title:hover {
	cursor: move;
}

.content {
	padding: 6px;
	text-align: center;
	font-size: 1.7vh;
}

.window-container__alt {
	box-sizing: border-box;
	border: 4px solid black;
	background-color: var(--OSBackgroundAlt);
	box-shadow: 1px 1px 33px rgb(0 0 0 / 75%);
	position: absolute;
	border-radius: 10px;
	transition: background-color 300ms ease-in-out;
}

.top-bar__alt {
	border-bottom: 4px solid black;
	display: flex;
	justify-content: space-between;
	background-color: var(--OSHeaderAlt);
	border-radius: 10px 10px 0 0;
	transition: background-color 300ms ease-in-out;
}

.exit__alt {
	font-family: sans-serif;
	color: white;
	border-left: 4px solid black;
	width: 26px;
	text-align: center;
	font-weight: bolder;
	padding: 2px 0 0 0;
	transition: background-color 300ms ease-in-out;
}

.exit__alt:hover {
	cursor: pointer;
	background-color: var(--OSHoverAlt);
	border-radius: 0 10px 0 0;
}

.title__alt {
	color: white;
	font-weight: 500;
	padding: 2px 0 0 6px;
	width: 100%;
}

.title__alt:hover {
	cursor: move;
}
