/* TODO Refactor this */

.window-container {
	box-sizing: border-box;
	border: 4px solid black;
	background-color: var(--OSBackground);
	filter: drop-shadow(2px 4px 20px black);
	position: absolute;
}

.top-bar {
	border-bottom: 4px solid black;
	display: flex;
	justify-content: space-between;
	background-color: var(--OSHeader);
}

.exit {
	font-family: sans-serif;
	color: white;
	border-left: 4px solid black;
	width: 26px;
	text-align: center;
	font-weight: bolder;
}

.exit:hover {
	cursor: pointer;
	background-color: var(--OSHover);
}

.title {
	color: white;
	padding-left: 3px;
	width: 100%;
}

.title:hover {
	cursor: move;
}

.content {
	padding: 6px;
	text-align: center;
}

.window-container__alt {
	box-sizing: border-box;
	border: 4px solid black;
	background-color: var(--OSBackgroundAlt);
	filter: drop-shadow(2px 4px 20px black);
	position: absolute;
}

.top-bar__alt {
	border-bottom: 4px solid black;
	display: flex;
	justify-content: space-between;
	background-color: var(--OSHeaderAlt);
}

.exit__alt {
	font-family: sans-serif;
	color: white;
	border-left: 4px solid black;
	width: 26px;
	text-align: center;
	font-weight: bolder;
}

.exit__alt:hover {
	cursor: pointer;
	background-color: var(--OSHoverAlt);
}

.title__alt {
	color: black;
	padding-left: 3px;
	width: 100%;
}

.title__alt:hover {
	cursor: move;
}
