.profile-pic {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
}

.buttons {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}