/*!***************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/App.css ***!
  \***************************************************************/
* {
	box-sizing: border-box;
	font-family: sans-serif;
	user-select: none;
}

body {
	height: 100%;
	width: 100%;
}

.App {
	width: 100%;
	height: 100%;
}

#root {
	overflow-x: hidden;
	overflow-y: hidden;
}

* {
	box-sizing: border-box;
	color: white;
}

body,
html {
	margin: 0;
}

:root {
	--OSHeader: #671348;
	--OSBackground: #3a1d2e;
	--OSHover: #67154a;
	--OSDisabled: #5b5658;
	--OSHeaderAlt: #d19e5c;
	--OSBackgroundAlt: #796c5c;
	--OSHoverAlt: #a57e4c;
	--OSDisabledAlt: #494541;
}

/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/catcarrier/style.css ***!
  \***************************************************************************************/
.carrier-bottom {
	width: 32px;
	height: 32px;
	left: 160px;
	height: 32px;
	bottom: 121px;
	position: absolute;
	transform: scale(4);
	image-rendering: pixelated;
	z-index: 0;
}

.carrier-top {
	width: 32px;
	height: 32px;
	left: 160px;
	height: 32px;
	bottom: 121px;
	position: absolute;
	transform: scale(4);
	image-rendering: pixelated;
	z-index: 10;
	pointer-events: none;
}

.carrier-shadow {
	width: 32px;
	height: 32px;
	left: 160px;
	height: 29px;
	bottom: 43px;
	opacity: 0.5;
	position: absolute;
	transform: scale(4);
	image-rendering: pixelated;
	z-index: -10;
	pointer-events: none;
}

/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/button/style.css ***!
  \***********************************************************************************/
.button {
	background-color: var(--OSHeader);
	display: flex;
	height: 40px;
	border: 4px solid black;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	cursor: pointer;
	padding: 0px 5px;
}

.button.disabled {
	background-color: #5b5658 !important;
    pointer-events: none !important;
    cursor: none !important;
    filter: grayscale(0.8) !important;
	color: rgb(255 255 255 / 53%);
}

.button--text {
	margin-left: 5px;
	margin-right: 5px;
}

.button:hover {
	background-color: var(--OSHover);
}
/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/oswindow/style.css ***!
  \*************************************************************************************/
/* TODO Refactor this */

.window-container {
	box-sizing: border-box;
	border: 4px solid black;
	background-color: var(--OSBackground);
	box-shadow: 1px 1px 33px rgb(0 0 0 / 75%);
	position: absolute;
	border-radius: 10px;
}

.top-bar {
	border-bottom: 4px solid black;
	display: flex;
	justify-content: space-between;
	background-color: var(--OSHeader);
	border-radius: 10px 10px 0 0;
}

.exit {
	font-family: sans-serif;
	color: white;
	border-left: 4px solid black;
	width: 26px;
	text-align: center;
	font-weight: bolder;
	padding: 2px 0 0 0;
}

.exit:hover {
	cursor: pointer;
	background-color: var(--OSHover);
	border-radius: 0 10px 0 0;
}

.title {
	color: white;
	padding: 2px 0 0 6px;
	width: 100%;
}

.title:hover {
	cursor: move;
}

.content {
	padding: 6px;
	text-align: center;
}

.window-container__alt {
	box-sizing: border-box;
	border: 4px solid black;
	background-color: var(--OSBackgroundAlt);
	box-shadow: 1px 1px 33px rgb(0 0 0 / 75%);
	position: absolute;
	border-radius: 10px;
}

.top-bar__alt {
	border-bottom: 4px solid black;
	display: flex;
	justify-content: space-between;
	background-color: var(--OSHeaderAlt);
	border-radius: 10px 10px 0 0;
}

.exit__alt {
	font-family: sans-serif;
	color: white;
	border-left: 4px solid black;
	width: 26px;
	text-align: center;
	font-weight: bolder;
	padding: 2px 0 0 0;
}

.exit__alt:hover {
	cursor: pointer;
	background-color: var(--OSHoverAlt);
	border-radius: 0 10px 0 0;
}

.title__alt {
	color: white;
	font-weight: 500;
	padding: 2px 0 0 6px;
	width: 100%;
}

.title__alt:hover {
	cursor: move;
}

/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/fosterKittens/style.css ***!
  \******************************************************************************************/
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-pic {
	width: 180px;
	height: 180px;
	border: 4px solid black;
	background-color: #5b5658;
	background-size: cover;
	background-position: center;
}

.buttons {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
}

.text--wrapper {
	text-align: left;
	padding: 10px;
}

.text--wrapper > p,
h2 {
	margin: 0;
}

/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/startmenuoption/style.css ***!
  \********************************************************************************************/
.start-menu-option {
	height: 40px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding-left: 12px;
    padding-right: 12px;
}

.inactive {
	background-color: #5b5658 !important;
    pointer-events: none !important;
    cursor: none !important;
    filter: grayscale(0.8) !important;
	color: rgb(255 255 255 / 53%);
}

.inactive > span {
	background-color: #5b5658 !important;
    pointer-events: none !important;
    cursor: none !important;
    filter: grayscale(0.8) !important;
	color: rgb(255 255 255 / 53%);
}

.inactive > img {
	opacity: 0.7;
}

.start-menu-option:hover {
	background-color: var(--OSHover);
}

.start-menu-icon {
	margin-right: 5px;
	image-rendering: pixelated;
}

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/startmenu/style.css ***!
  \**************************************************************************************/
.start-container {
	width: 264px;
	border: 4px solid black;
	position: absolute;
	bottom: 35%;
	box-shadow: 1px 1px 33px rgb(0 0 0 / 75%);
	left: -8px;
	z-index: 40;
	background-color: var(--OSBackground);
	border-radius: 0 10px 10px 0;
	transition: left 300ms ease-in-out;
}

.start-logobar {
	height: 56px;
	padding: 5px 0 0 8px;
	width: 100%;
	image-rendering: pixelated;
	background-color: var(--OSHeader);

	border-radius: 0 10px 0 0;
}

.divider {
	margin: 0px;
	height: 4px;
	background-color: black;
	border: none;
}

.open-tab {
	width: 49px;
	height: 100px;
	background-color: var(--OSHeader);
	position: absolute;
	left: 256px;
	bottom: 164px;
	border-radius: 0px 10px 10px 0;
	border: 4px solid black;
}

.open-tab:hover {
	cursor: pointer;
}

.open-tab--arrow {
	width: 42px;
	height: 42px;
	display: flex;
	margin-top: 22px;
}

.open-tab--arrow > img {
	transition: transform 300ms ease-in-out;
	transform: rotate(0deg);
}

.open-tab--arrow > img.open {
	transition: transform 300ms ease-in-out;
	transform: rotate(180deg);
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/timer/style.css ***!
  \**********************************************************************************/

/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/kitty/animations.css ***!
  \***************************************************************************************/
.kitty-test-idle {
	animation: idle 5s steps(4) infinite;
}

@keyframes idle {
	to {
		background-position-x: -128px;
	}
}

.kitty-test-wag {
	background-position-y: -32px;
	animation: wag 1.5s steps(4) infinite;
}

@keyframes wag {
	to {
		background-position-x: -128px;
	}
}

.kitty-test-lick {
	background-position-y: -64px;
	animation: lick 1s steps(4) infinite;
}

@keyframes lick {
	to {
		background-position-x: -128px;
	}
}

.kitty-test-wipe {
	background-position-y: -96px;
	animation: wipe 1s steps(4) infinite;
}

@keyframes wipe {
	to {
		background-position-x: -128px;
	}
}

.kitty-test-stroll {
	background-position-y: -128px;
	animation: stroll 1.5s steps(8) infinite;
}

@keyframes stroll {
	to {
		background-position-x: -256px;
	}
}

.kitty-test-run {
	background-position-y: -160px;
	animation: run 0.5s steps(8) infinite;
}

@keyframes run {
	to {
		background-position-x: -256px;
	}
}

.kitty-test-sleep {
	background-position-y: -192px;
	animation: sleep 4s steps(4) infinite;
}

@keyframes sleep {
	to {
		background-position-x: -128px;
	}
}

.kitty-test-swipe {
	background-position-y: -224px;
	animation: sleep 1s steps(4) infinite;
}

@keyframes swipe {
	to {
		background-position-x: -128px;
	}
}

.kitty-test-jump {
	background-position-y: -256px;
	animation: jump 0.5s steps(7) infinite;
}

@keyframes jump {
	to {
		background-position-x: -224px;
	}
}

.kitty-test-hiss {
	background-position-y: -288px;
	animation: hiss 4s steps(4) infinite;
}

@keyframes hiss {
	to {
		background-position-x: -256px;
	}
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/kitty/style.css ***!
  \**********************************************************************************/
.kitty {
	width: 32px;
	height: 32px;
	position: absolute;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
}

.gold {
	filter: drop-shadow(2px 4px 6px gold);
}

.kitty__wrapper {
	width: 128px;
	height: 128px;
	position: absolute;
	bottom: 47px;
	left: 100px;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
	z-index: 5;
}

.kitty__boundingbox {
	width: 13px;
	height: 12px;
	pointer-events: all;
	z-index: 10;
}

.shadow {
	position: relative;
	left: -7px;
	top: 1px;
	opacity: 0.5;
}

/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/bluescreen/style.css ***!
  \***************************************************************************************/
.background {
	background-color: #051db5;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	height: 20px;
	border: 1px solid white;
	margin-top: 10%;
}

.loading-bar {
	height: 100%;
	width: 0%;
	background-color: white;
	animation-name: loadingBar;
	animation-duration: 8s;
	animation-fill-mode: forwards;
}

@keyframes loadingBar {
	0% {
		width: 0%;
	}
	25% {
		width: 0%;
	}
	50% {
		width: 60%;
	}
	75% {
		width: 75%;
	}
	90% {
		width: 85%;
	}
	100% {
		width: 100%;
	}
}

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/poop/animations.css ***!
  \**************************************************************************************/
.poop {
	animation: poop 2s steps(4) infinite;
}

@keyframes poop {
	to {
		background-position-x: -128px;
	}
}

/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/poop/style.css ***!
  \*********************************************************************************/
.poop {
	width: 32px;
	height: 32px;
	background-size: cover;
	transform: scale(2);
	image-rendering: pixelated;
	bottom: 93px;
	position: absolute;
	z-index: 0;
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/score/style.css ***!
  \**********************************************************************************/
.score {
    font-size: 24px;
}
/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/playground/style.css ***!
  \***************************************************************************************/
.playground {
	background-size: contain;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	position: absolute;
	overflow-y: hidden;
}

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/credits/style.css ***!
  \************************************************************************************/
.flash {
	animation: flash 2s linear infinite;
}

@keyframes flash {
	0% {
		color: red;
	}
	25% {
		color: yellow;
	}
	50% {
		color: green;
	}
	75% {
		color: blue;
	}
	100% {
		color: red;
	}
}


/*# sourceMappingURL=main.css.map*/