.kitty {
	width: 32px;
	height: 32px;
	position: absolute;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
}

.gold {
	filter: drop-shadow(2px 4px 6px gold);
}

.kitty__wrapper {
	width: 128px;
	height: 128px;
	position: absolute;
	bottom: 47px;
	left: 100px;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
	z-index: 5;
}

.kitty__boundingbox {
	width: 13px;
	height: 12px;
	pointer-events: all;
	z-index: 10;
}
