.kitty {
	width: 32px;
	height: 32px;
	position: absolute;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
}

.gold {
	filter: drop-shadow(2px 4px 6px gold);
}

.kitty__wrapper {
	position: absolute;
	bottom: 1%;
	left: 100px;
	image-rendering: pixelated;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
	z-index: 5;
}

.kitty__boundingbox {
	width: 13px;
	height: 12px;
	pointer-events: all;
	z-index: 10;
	transform: translate(6px, 1px);
}

.shadow {
	position: relative;
	left: -7px;
	top: 1px;
	opacity: 0.5;
}

.nametag {
	transform: translateY(-260%);
	font-size: 1.2vh;
	font-weight: 300;
	z-index: 5;
}
