.start-menu-button {
	position: absolute;
	bottom: 0px;
	width: 100px;
	background-color: var(--OSHeader);
	display: flex;
	height: 40px;
	border: 4px solid black;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	cursor: pointer;
}

.start-menu-button:hover {
	background-color: var(--OSHover);
}

.start-menu-button__open {
	position: absolute;
	bottom: 0px;
	width: 100px;
	display: flex;
	height: 40px;
	border: 4px solid black;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	font-weight: bolder;
	cursor: pointer;
	background-color: var(--OSHover);
}
