.carrier-bottom {
	width: 32px;
	height: 32px;
	left: 3%;
	bottom: 1%;
	transform-origin: bottom;
	position: absolute;
	transform: scale(3);
	image-rendering: pixelated;
	z-index: 0;
}

.carrier-top {
	width: 32px;
	height: 32px;
	left: 3%;
	bottom: 1%;
	transform-origin: bottom;
	position: absolute;
	transform: scale(3);
	image-rendering: pixelated;
	z-index: 10;
	pointer-events: none;
}

.carrier-shadow {
	width: 32px;
	height: 32px;
	left: 3.05%;
	bottom: 1%;
	opacity: 0.5;
	position: absolute;
	transform: scale(3) scaleY(1);
	transform-origin: top;
	image-rendering: pixelated;
	z-index: -10;
	pointer-events: none;
}
